@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Nothing+You+Could+Do&family=Playfair+Display:wght@400;500;600;700;800;900&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  scroll-behavior: smooth;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #988567 !important;
}

.MuiInputLabel-root {
  color: #988567 !important;
}
